// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.admin-top {
  width: 100%;
  height: 200px;
  padding: 20px;
}

.admin-top-title {
  width: 350px;
  height: 80px;
  padding: 20px;
  margin: auto;
}

.admin-top-posts {
  width: 350px;
  height: 80px;
  padding: 20px;
  margin: auto;
}