<div class="about">
  <div class="about-title">
    <h1 class="baby-care-about">Baby Care About</h1>
  </div>
  <div class="about-body">
    <h3 class="about-sub-title">サイト概要</h3>
    <div class="introduction">
      子育てで奮闘している人たちが情報を共有、意見交換できるようなサイトです。<br />
      子供が生まれる前や生まれた後に知っていてほしい情報を発信したいとき、<br />
      子育て中のこんな時どうしているのかを知りたいときなどに、利用していただきたいです！
    </div>
  </div>
</div>