<div class="favorite">
  <div class="favorite-title">
    <%= @member.member_name %>さんのお気に入り
  </div>
  <table class="favorite-table">
    <thead>
      <tr>
        <th class="favorite-th">タイトル</th>
        <th class="favorite-th">投稿者</th>
        <th class="favorite-th"></th>
      </tr>
    </thead>
    <tbady>
      <% if @favorite_list.length != 0 %>
        <% @favorite_list.each do |post| %>
          <tr>
            <td class="favorite-td"><%= link_to post.title, post_path(post) %></td>
            <td class="favorite-td"><%= post.member.member_name %></td>
            <td class="favorite-td"><%= render "public/favorites/favorite", post: post %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td class="favorite-td">現在、お気に入り登録はありません</td>
        </tr>
      <% end %>
    </tbady>
  </table>
</div>