<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <h1 class="font-weight-bold">
        管理者Topページ
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>サイト内投稿数 <%= @posts.count %> 投稿</h3>
    </div>
  </div>
</div>


