// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.top {
  width: 100%;
  height: 200px;
  margin: 20px;
}

.top-title {
  width: 100%;
  padding: 0 100px;
}

.top-new-posts {
  width: 100%;
  padding: 50px 50px 0;
}
.top-table {
  width: 40%;
  text-align: center;
  margin: 20px 40px 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

.top-th {
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
}

.top-td {
  padding: 10px;
  border: solid 1px #778ca3;
}

.top-bottom a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 200px;
  color: #2285b1;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
}

.top-bottom a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #2285b1;
  border-right: 3px solid #2285b1;
  transform: rotate(45deg);
}

.top-bottom a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.top-bottom a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

.about {
  width: 100%;
  height: 300px;
  margin: 20px;
}

.about-title {
  width: 100%;
  margin: 10px;
}

.baby-care-about {
  width: 350px;
  margin: auto;
  text-align: center;
}

.about-body {
  width: 100%;
  margin: 10px;
}

.about-sub-title {
  width: 100%;
  margin: 10px;
  text-align: center;
}

.introduction {
  width: 100%;
  margin: 40px 0;
  text-align: center;
  font-size: 20px;
}