// Place all the styles related to the public/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// my_page.html.erb„ÅÆcss
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-page {
  width: 100%;
  height: 400px;
  margin: 30px;
}

.my-page-title {
  width: 100%;
  margin: 30px;
  text-align: center;
}

.my-page-button a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  padding: 1em 2em;
  width: 200px;
  color: #2285b1;
  font-size: 15px;
  font-weight: 700;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
}

.my-page-button a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #2285b1;
  border-right: 3px solid #2285b1;
  transform: rotate(45deg);
}

.my-page-button a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.my-page-button a:hover::after {
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
}

.my-page-table {
  width: 600px;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.my-page-th {
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
}

.my-page-td {
  padding: 10px;
  border: solid 1px #778ca3;
}

.member {
  width: 100%;
  margin: 30px;
}

.member-title {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.favorite {
  width: 100%;
  margin: 30px;
}

.favorite-title {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
}

.favorite-table {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: solid 1px #778ca3
}

.favorite-th {
  padding: 10px;
  border-bottom: solid 1px #778ca3;
  background-color: #FF9933;
}

.favorite-td {
  padding: 10px;
  border-bottom: solid 1px #778ca3;
}