// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  width: 100%;
  margin: 30px;
}

.post-title {
  text-align: center;
  width: 100%;
  font-family: 'M PLUS 1p', sans-serif;
}

.post-error {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

.post-error li {
  list-style: none;
  color: red;
}

.new-title {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.0em;
  font-family: 'M PLUS 1p', sans-serif;
}

.new-title-field {
  text-align: center;
  padding: 10px 0;
}

.new-text {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.0em;
}

.new-text-field {
  text-align: center;
  margin: 0 0 20px;
  padding: 10px 0;
}

.post-button input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  color: #2285b1;
  font-weight: 700;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
}


.post-table {
  width: 90%;
  text-align: center;
  margin: 20px 40px 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

.post-th {
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
}

.post-td {
  padding: 10px;
  border: solid 1px #778ca3;
}

.mypost-delete a {
  display: inline-block;
  padding: 5px 10px;
  background: #e41313;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
  box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
  -webkit-transition: .12s;
  transition: .12s;
}

.mypost-delete a:hover {
  background: #ffffff;
  border: solid 2px #bd1111;
  color: #e41313;
  opacity: 0.8;
}

.post-all {
  width: 100%;
  margin: 20px;
  font-family: 'M PLUS 1p', sans-serif;
  display: flex;
  justify-content: center;
  align-items:flex-end
}

.post-all-title {
  width: 600px;
}

.post-search {
  width: 240px;
}

.post-title-show {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-show-title {
  padding-right: 50px;
  font-family: 'M PLUS 1p', sans-serif;
}

.post-show-table {
  width: 100%;
  margin: 20px;
}

.post-show-lists {
  list-style: none;
  text-align: center;
}

.post-show-lists hr {
  width: 300px;
  margin: 0 auto;
  border-top: 3px double #aaa;
}

.post-list-item {
  padding: 10px 0 20px;
  font-size: 20px;
}

.post-list-item-edit a {
  align-items: center;
  margin: 0 auto;
  padding: 10px 10px;
  width: 200px;
  color: #2285b1;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
}

.post-list-item-edit a:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.comment {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.comment-box {
  width: 500px;
  margin: 0 auto;
  padding: 10px 0 30px;
  text-align: center;
}

.comment-box input {
  align-items: center;
  margin: 0 auto;
  padding: 10px 10px;
  width: 200px;
  color: #2285b1;
  font-size: 18px;
  font-weight: 700;
  border: 3px solid #a0c4d3;
  border-radius: 10px;
}


.comment-table {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: solid 1px #778ca3;
}

.comment-box input:hover {
  color: #333333;
  text-decoration: none;
  background-color: #a0c4d3;
}

.comment-th {
  padding: 10px;
  border-bottom: solid 1px #778ca3;
}
.comment-td {
  padding: 10px;
  border-bottom: solid 1px #778ca3;
}

.comment-td a {
  display: inline-block;
  padding: 10px 20px;
  background: #e41313;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
  box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
  -webkit-transition: .12s;
  transition: .12s;
}

.comment-td a:hover {
  background: #ffffff;
  border: solid 2px #bd1111;
  color: #e41313;
  opacity: 0.8;
}

.search {
  width: 100%;
  height: 700px;
  margin: 30px;
}

.search-result {
  margin: 50px;
}

.search-result a {
  width: 100px;
  height: 40px;
  padding: 30px;
}