// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  width: 100%;
  margin: 30px;
}

.post-title {
  text-align: center;
  width: 100%;
}

.post-error {
  text-align: center;
  width: 100%;
  padding-top: 20px;
}

.post-error li {
  list-style: none;
  color: red;
}

.new-title {
  width: 200px;
  margin: 0 auto;
  font-size: 2.0em;
}

.new-title-field {
  text-align: center;
  padding: 10px 0;
}

.new-text {
  width: 200px;
  margin: 0 auto;
  font-size: 2.0em;
}

.new-text-field {
  text-align: center;
  padding: 10px 0;
}

.post-button {
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
  text-align: right;
}

.post-table {
  width: 90%;
  text-align: center;
  margin: 20px 40px 20px;
  border-collapse: collapse;
  border-spacing: 0;
}

.post-th {
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
}

.post-td {
  padding: 10px;
  border: solid 1px #778ca3;
}