// 新規登録とログイン画面
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.registration {
  width: 450px;
  height: 800px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.session {
  width: 450px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.new-member {
  padding: 20px 26px;
}

.new-name {
   margin-bottom: 13px;
}

.new-email {
  margin-bottom: 13px;
}

.new-age {
  margin-bottom: 10px;
}

.new-gender {
  margin-bottom: 10px;
}

.new-introduction {
  margin-bottom: 30px;
}

.new-password {
  margin-bottom: 22px;
}

.confirmation-password {
  margin-bottom: 22px;
}

.new-name label, .new-email label, .new-age label, .new-gender label, .new-introduction label, .new-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.new-name input[type="text"], .new-email input[type="email"], .new-age input[type="text"], .new-gender input[type="text"], .new-introduction input[type="text"], .new-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.new-password a {
  font-size: 13px;
}

.new-signup {
  margin-bottom: 26px;
}

.new-signup input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.new-signup input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.remember-me {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.new-login p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.new-login p span {
   text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.new-login a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.new-login a:hover {
  background: #e7e9ec;
}