@import '~bootstrap/scss/bootstrap';
@import './admin/homes';
@import './admin/sessions';
@import './public/registrations';
@import './public/homes';
@import './public/members';
@import './public/posts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header {
  width: 100vw;
  padding: 10px 0 20px 0;
  // position: fixed;
  top: 0;
  height: 30vh;
}

.header-top-center {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px 0;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.listes-right {
  display: flex;
  list-style: none;
  margin: 0 30px 0 auto;
}

.header-title {
  font-size: 40px;
  text-decoration: none;
  color: #4b4b4b;
  // font-family:;
  margin-left: 4%;
}

.header-sub-title {
  font-size: 17px;
  padding-left: 15px;
  // font-family:;
}

.header-mypage {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

.header-about {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

.header-posts {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

.header-logout {
  text-decoration: none;
  color: whitesmoke;
}

.header-members {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

.header-genre {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

.header-signup {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

.header-login {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

.header-center {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
  // font-family:;
}

.header-center-top {
  font-size: 18px;
  color: red;
}

.header-center-bottom {
  font-size: 40px;
  color: red;
}

.footer {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}